/* ====== 1. Переменные ====== */
:root {
 --background-main: #0b2c37;
  --text-color: #f0f0f0;
  --accent-color: #c78030;
  --accent-gradient: linear-gradient(to right, var(--accent-color), #FEE97D);
  --card-background: #124559;
  --button-bg: #1a4e66;
  --button-hover: #226688;
  --button-accent: #4caf50;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --shadow-big: 5px 14px 8px var(--shadow-color);
  --transition-base: 0.4s ease;
  --border-radius: 6px;
  --border-radius-circle: 50%;
  --width-focus: 67%;
  --width-other: 33%;
}

*,
::after,
::before {
  box-sizing: border-box
}

body {
  margin: 0;
  background-color: var(--background-main);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: var(--text-color);
  text-align: center;
  margin-top: 3rem;
}

h1, h4 {
  font-size: 4rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1rem;
}

p {
  text-indent: 16px;
  line-height: 1.6;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto; 
}

img {
  display: block;
}

.accent {
  color: var(--accent-color);
  font-size: 1.1lh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.fadein {
  -webkit-animation: fadin 1.5s 1 ease-out forwards;
          animation: fadin 1.5s 1 ease-out forwards;
}
@-webkit-keyframes fadin {
  from {opacity: 0; transform: translateY(30px);}
  to {opacity: 1; transform: translateY(0);}
}
@keyframes fadin {
  from {opacity: 0; transform: translateY(30px);}
  to {opacity: 1; transform: translateY(0);}
}

@media (max-width: 480px) {
  .container {
    padding: 1rem 0.5rem; /* Еще меньше паддинг */
  }

  h1, h4 {
    font-size: 2.5rem; /* Уменьшить заголовки */
  }
}