.list_project {
  list-style: none;
  padding: 1rem;
  margin: 0;
  background-color: transparent;
  border-radius: 8px;
}

.list_project li {
  margin-bottom: 0.5rem;
}

.list_project li a {
  color: var(--text-color);
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 2px 10px;
}

.list_project li a:hover {
  color: var(--accent-color);
}

.list_project li a::after {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background: var(--accent-gradient);
  margin-top: 2px;
  transition: width var(--transition-base);
}

.list_project li a:hover::after {
  width: 60%;
}

.menu {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  border-radius: 10px;
  margin-left: 40px;
  background: var(--card-background);
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  box-shadow: var(--shadow-big);
}

.hamburger,
#toggle {
  display: none;
  position: fixed;
}
@media (max-width: 1400px) {
  .menu {
    margin-left: 0;
    margin-top: 1rem;
    flex: none;
    width: 100%;
    padding: 1rem;
  }
  
  .menu {
    position: fixed;
    top: 60px;
    left: -320px;
    width: 300px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    z-index: 1000;
    transition: left 0.3s ease;
    margin: 0;
    padding: 1.5rem;
    box-shadow: inset 0 -4px 10px 4px var(--shadow-color);
    background-color: var(--background-main);
  }

  #toggle:checked ~ .menu {
    left: 0;
  }
  .hamburger {
    display: block;
    position: fixed;
    top: 60px;;
    left: 15px;
    width: 40px;
    cursor: pointer;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(7, 49, 63, 0.8);
    z-index: 1001;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    margin: 5px 0;
    transition: 0.5s all;
  }

  #toggle:checked + .hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  #toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
  }

  #toggle:checked + .hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}