*
  -webkit-box-sizing: border-box
  box-sizing: border-box
  margin: 0
  padding: 0
body
  background-color: rgb(7, 49, 63)
  color: #f0f0f0
  font: 18px/24px "Montserrat", sans-serif
  letter-spacing: 0.7px
h1, h2, h3
  text-align: center
  font-family: "Montserrat Alternates", sans-serif
  margin-bottom: 20px
  font-style: bold
h1
  font-size: 37px
  line-height: 50px
  letter-spacing: 1.5px
h2
  font-size: 30px
  line-height: 38px
  letter-spacing: 1.2px
h3
  font-size: 25px
  line-height: 32px
.line
  margin-top: 40px
  border-top: 1px solid #FEE97D
p
  font-size: 18px
  line-height: 24px
  text-indent: 7%
  -webkit-hyphens: auto
  -moz-hyphens: auto
  -ms-hyphens: auto
  hyphens: auto
  letter-spacing: 0.1em
  &::first-letter
    font-size: 110%
a, button
  color: #f0f0f0
  font: normal 18px/24px "Montserrat Alternates", sans-serif
  text-decoration: none
.container
  max-width: 1440px
nav
  margin: 20px
main
  display: flex
.row
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  align-items: center
  gap: 20px
  margin: 40px
@import "blocks/menu-buttons"
@import "blocks/stiker"
@import "blocks/catalog"
@import "blocks/forms"
@import "blocks/project"
@import "blocks/carousel"
@import "blocks/modal"
@import "blocks/main_aside"
@import "blocks/footer"
@import "blocks/pageup"

.head
  background: url(../img/glav_head.png) center (center / cover) no-repeat
  margin: auto
  min-height: 300pt
  max-width: 1440px
  border-radius: 20px/15px
.head_other
  max-width: 1440px
  margin: 40px auto
  display: grid
  grid-template-columns: 1fr 3fr
.image_other
  border-radius: 20px/15px
  width: 100%
.soc
  background-color: rgba(7, 49, 63, .5)
  margin: 5px
  padding: 5px 10px
  border-radius: 10px/7.5px
  justify-self: end
  display: flex
  justify-content: end
  align-items: center
  column-gap: 20px
  & img
    width: 40px
.promo
  margin: 20px 0
  h1
    margin: 20px

@media (max-width: 800px)
  h1
    font-size: 32px
    line-height: 40px
    letter-spacing: 1.2px
  h2
    font-size: 28px
    line-height: 35px
    letter-spacing: 1px
  h1, h2, h3
    margin: 0
  nav
    margin: 0
  .head
    min-height: 100pt
  .row
    flex-direction: column
    gap: 20px
    row-gap: 20px
    align-items: center