@import "libs/style"
@import "libs/fonts"
iframe
  width: 565px
  height: 500px
  border-radius: 10px
  frameborder: 0
.true_link
  text-decoration: underline
@import "blocks/forms"
@import "blocks/project"
@import "blocks/modal"
@import "blocks/main_aside"
@import "blocks/footer"
.body_404
  display: flex
  margin: 0 auto
  min-height: 600px
  justify-content: space-between
  align-items: center
  & img
    padding: 20px
    width: 100%
  iframe
    min-width: 100%