.project
  display: flex
  flex-direction: column
  gap: 40px
  &_item
    border: 2px solid #FEE97D
    padding: 15px
    border-radius: 20px/15px
    &_description
      display: flex
      gap: 20px
      align-content: flex-start
      & img
        display: block
        border-radius: 20px/15px
        width: 300px
        align-self: flex-start
