/* Цветовая палитра */
:root {
  --background-main: #0b2c37;
  --text-color: #f0f0f0;
  --accent-color: #c78030;
  --accent-gradient: linear-gradient(to right, var(--accent-color), #FEE97D);
  --accent-hover: #FEE97D;
  --card-background: #124559;
  --button-bg: #1a4e66;
  --button-hover: #226688;
  --button-accent: #4caf50;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --shadow-big: 5px 14px 8px var(--shadow-color);
  --transition-base: 0.4s ease;
  --border-radius: 6px;
  --border-radius-lg: 10px;
  --border-radius-xl: 12px;
  --border-radius-circle: 50%;
  --button-accent: #4caf50;
}
/* ====== 2. Базовые стили ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-main);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: var(--text-color);
  text-align: center;
  margin-top: 3rem;
}

h1, h4 {
  font-size: 4rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1rem;
}

p {
  text-indent: 16px;
  line-height: 1.6;
  hyphens: auto; 
}

img {
  display: block;
}

.accent {
  color: var(--accent-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.fadein {
  animation: fadin 1.5s 1 ease-out forwards;
}
@keyframes fadin {
  from {opacity: 0; transform: translateY(30px);}
  to {opacity: 1; transform: translateY(0);}
}

/* Navigation */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
  background: var(--background-main);
  padding: 1rem 0;
  box-shadow: 0 2px 8px var(--shadow-color);
}

.menu-bar {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  cursor: pointer;
}

.menu-bar_list {
  position: relative;
  color: var(--accent-color);
}

.menu-bar_link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.03em;
  line-height: 1.2; /* Улучшено для лучшего выравнивания текста */
  display: block; /* Для правильного позиционирования :after */
  padding: 0.25rem 0; /* Немного отступа для увеличения области клика */
}

.menu-bar_link:after,
.menu-bar_link_active:after {
  content: "";
  display: block;
  height: 2px;
  margin-top: 4px;
   width: 0%;
  background: var(--accent-gradient);
  -webkit-transition: .4s;
  transition: .4s;
}

.menu-bar_link:hover:after {
  width: 80%;
}

.menu-bar_link_active:after {
  width: 80%;
}

@media (max-width: 888px) {
  .navbar {
    padding: 0.5rem 0;}
  .menu-bar_link {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
  }
  .menu-bar_link:after {
    height: 1px;
  }
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

  /* ====== 4. Секция "О нас" ====== */
.about-section {
  margin-top: calc(1.25rem + 29px);
  padding: 4rem 0;
  background-color: var(--card-background);
  background-image: url('img/glav_head.png');
  background-size: cover;
  background-position: center;
  color: var(--text-color);
  text-align: center;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.about-text {
  max-width: 800px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 2rem 3rem;
  text-align: left;
  background-color: rgba(18, 69, 89, 0.5);
}

.rout {
  background-image: url('img/routes/bg.jpg');
}


.rout  h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1rem;
}

.rout img{
  max-width: 300px;
}

.about-text p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.cont {
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.cont a {
  display: block;
}
.btn {
    background-color: var(--button-accent);
    color: var(--text-color);
    padding: 1rem;
    border: none;
    width: fit-content;
    cursor: pointer;
    font-weight: bold;
    box-shadow: var(--shadow-big);
    transition: background-color var(--transition-base);
    font-size: 1rem;
}
/* Средние экраны (планшеты) */
@media (max-width: 990px) {
  .about-text {
    padding: 2rem 2rem;
  }
  .about-text h1 {
    font-size: 2.5rem;
  }
  .about-text p {
    font-size: 1rem;
  }
}

/* container-projects */
.container-projects {
  margin: auto 10px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: 30px;
}

/* project */
.project {
  flex: 1 1 75%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem;
}

.project-keis {
  margin-bottom: 3rem;
  background: var(--card-background);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: var(--shadow-big);
}

.project-keis .cont {
  justify-content: flex-start;
  gap: 30px;
}
.project_promo {
  text-align: center;
  margin-bottom: 2rem;
}

.project_item {
  margin-bottom: 3rem;
  background: var(--card-background);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--shadow-color);
}


#aboutHost,
#aboutHouse {
  display: none;
}
#aboutHost span,
#aboutHouse span {
  display: inline-block;
  width: 150px;

}

  
.project_item .aboutHostTo,
.project_item .aboutHouseTo {
    position: relative;
    display: none;
    top: 20px;
    overflow-y: auto;
    z-index: 1000;
    transition: left 0.5s ease;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    background-color: var(--background-main);
    box-shadow: inset 0 -4px 10px 4px var(--shadow-color);
  }



  #aboutHost:checked ~ .aboutHostTo {
    display:block;
    animation: fadin 1.5s 1 ease-out forwards;
}
 #aboutHouse:checked ~ .aboutHouseTo {
    display:block;
    animation: fadin 1.5s 1 ease-out forwards;
}


.project_item_description {
  display: flex;
  gap: 20px;
  align-content: flex-start;
  flex-wrap: wrap;
}

.project_item_description_image_project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 250px;
}

.project_item_description_image_project .button {
  box-shadow: inset 0 -4px 10px 4px var(--shadow-color);
  border: none;
}

.project_item_description_image_project img {
  display: block;
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

.project_item_description_text {
  align-self: center;
  flex: 1;
  min-width: 280px;
}

.project_desc {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.project_desc img {
  display: block;
  width: 45%;
  min-width: 280px;
  max-width: 100%;
  height: auto;
  margin: 10px;
  align-self: center;
  box-shadow: var(--shadow-big);
  border-radius: 8px;
}

.project_desc_text {
  align-self: center;
  padding: 10px;
  flex: 1;
  min-width: 280px;
}

.geo {
  align-self: flex-start;
}

.project_desc ul li {
  list-style: none;
}

.project_desc ul li::before {
  content: "•";
  margin-right: 10px;
  color: var(--accent-hover);
}

.icons {
  width: 68px;
  margin: 10px;
  margin-left: 0;
}

.connect {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  padding: 40px;
  align-self: center;
}

.link a {
  text-align: right;
  margin: 0 auto;
  text-decoration: underline;
}

/* main aside */
.list_project {
  list-style: none;
  padding: 1rem;
  margin: 0;
  background-color: var(--background-main);
  box-shadow: 0 2px 8px var(--shadow-color);
  border-radius: 8px;
}

.list_project li {
  margin-bottom: 0.5rem;
}

.list_project li a {
  color: var(--text-color);
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 2px 10px;
}

.list_project li a:hover {
  color: var(--accent-color);
}

.list_project li a::after {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background: var(--accent-gradient);
  margin-top: 2px;
  transition: width var(--transition-base);
}

.list_project li a:hover::after {
  width: 60%;
}

.menu {
  flex: 0 0 300px;
  border-radius: 10px;
  margin-left: 40px;
  background: var(--card-background);
  padding: 1.5rem;
  box-shadow: var(--shadow-big);
}

.hamburger {
  display: none;
}

#toggle {
  display: none;
}
@media (max-width: 1100px) {
  .container-projects {
    flex-direction: column;
    padding: 10px;
  }

  .menu {
    margin-left: 0;
    margin-top: 1rem;
    flex: none;
    width: 100%;
    padding: 1rem;
  }

  .project {
    flex: 1;
    padding: 1rem;
    margin: 0 auto;
  }

  .tabs {
    justify-content: center;
    font-size: 0.95em;
  }

  .project_item {
    padding: 1rem;
  }

  .project_item_description,
  .project_desc {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }

  .project_item_description_image_project img,
  .project_desc img {
    width: 100%;
    max-width: 300px;
  }

  .project_item_description_text,
  .project_desc_text {
    align-self: center;
  }

  .connect {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .link {
    padding: 20px 10px;
  }

  .project {
    padding: 1rem;
  }

  .menu {
    position: fixed;
    top: 60px;
    left: -300px;
    width: 280px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    z-index: 1000;
    transition: left 0.3s ease;
    margin: 0;
    padding: 1.5rem;
    box-shadow: inset 0 -4px 10px 4px var(--shadow-color);
  }

  #toggle:checked ~ .menu {
    left: 0;
  }

  .hamburger {
    display: block;
    position: fixed;
    top: calc(1rem + 35px);
    left: 15px;
    width: 40px;
    cursor: pointer;
    border: 1px solid var(--accent-hover);
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(7, 49, 63, 0.8);
    z-index: 1001;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    margin: 5px 0;
    transition: 0.5s all;
  }

  #toggle:checked + .hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  #toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
  }

  #toggle:checked + .hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .project {
    padding: 1rem;
    margin: 0;
  }

  .project_desc,
  .project_item_description {
    gap: 1rem;
  }

  .project_desc img,
  .project_item_description_image_project img {
    max-width: 100%;
    width: 100%;
    margin: 10px 0;
  }

  .galleryLite {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }

  .galleryLite_item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .link {
    padding: 15px 0;
  }
}
/* Load More Button */
.load-more {
  display: block;
  margin: 2rem auto 0;
  padding: 0.8rem 1.5rem;
  background: var(--button-bg);
  box-shadow: 0 4px 10px var(--shadow-color);
  color: var(--text-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.load-more:hover {
  background: var(--button-hover);
}
/* ====== 10. Футер ====== */
.footer-flex {
  display: flex;
  background: var(--card-background);
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem 1rem;
  padding: 1rem;
  align-items:stretch;
  box-shadow: var(--shadow-big);
}

.footer-flex h2 {
  color: var(--accent-color);
  margin-bottom: 1rem;
}

.flexUl {
  flex-grow: 2 0 fit-content;
  display: flex;
  flex-flow: column wrap;
  height: 400px;
}


.flexUl li a {
  margin: 0 10px;
}
iframe {
  margin: 0 auto; /* Помогает при выравнивании flexbox */
  width: 100%;
  height: 400px;
  box-shadow: var(--shadow-big);
}


/* ====== 11. Кнопка "Наверх" ====== */
.pageUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background: var(--accent-gradient);
  color: #07313f;
  width: 50px;
  height: 50px;
  border-radius: var(--border-radius-circle);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  box-shadow: 0 4px 10px var(--shadow-color);
  transition: background var(--transition-base), transform 0.2s ease;
}

.pageUp:hover {
  transform: scale(1.1);
  background: linear-gradient(to right, #ffe35e, var(--accent-color));
}

/* ====== 12. Модальные окна ====== */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #fff;
  color: #0b2c37;
  margin: auto;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: modalopen 0.4s;
}


/* gallery-lightbox */
.galleryLite {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.galleryLite a {
  text-decoration: none;
  display: inline-block;
}

.galleryLite_item {
  width: 100%;
  max-width: 300px;
  

}

.galleryLite_item img{
  box-shadow: var(--shadow-big);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;

}
.galleryLite_item img:hover {
  transform: scale(1.5);
}

/* Gallery */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 30px;
  gap: 20px;
}
.gallery-item {
  text-align: center;
  transition: transform 0.3s ease;
}
.gallery-img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 6px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
}
.gallery-img:hover {
  transform: scale(2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.gallery-caption {
  margin-top: 1rem;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}
.gallery-item:hover .gallery-caption {
  color: var(--purple);
}
/* Адаптивность */
@media (max-width: 768px) {
  .gallery-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .gallery-img {
    border-radius: 8px;
  }
}
.img-zoom {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
}
.img-zoom:hover {
  transform: scale(2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
/* Tabs */
.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin-bottom: 2rem;
}

.tabRoutes {
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  position: relative;
}

.tabRoutes::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: var(--accent-gradient);
  margin-top: 4px;
  transition: 0.4s ease;
}

.tabRoutes:hover::after {
  width: 100%;
}

.tabRoutes_content {
  display: none;

}

.tabRoutes_content_active {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem
}

.tabRoutes_active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: var(--accent-gradient);
  margin-top: 4px;
  transition: 0.4s ease;
}


.tabRoutes_content_item {
  background: #124559;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.button {
  background: linear-gradient(to right, #fee97d, gold);
  color: #07313f;
  padding: .6rem 1.2rem;
  border-radius: 6px;
  display: inline-block;
  margin-top: 1rem
}

.tabRoutes_content_item img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, .3)
}

.tabRoutes_content_item h3 {
  margin-top: 5px
}

.tabRoutes_content_item p {
  text-align: left
}

@media (max-width: 1100px) {
  .tabs {
  gap: 1rem;
  list-style: none;
  margin-bottom: 2rem;
  justify-content: center;
}
}

@media (max-width: 768px) {

.tabRoutes {
  font-weight: 500;
  font-size: 16px;
}

  
}
/* Popup */
.popup {  
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup img {
  max-width: 100vh;
  max-height: 100vh;
  margin: 0 auto;
}
.catalog_item {
  background: var(--card-background);
  padding: 1.5rem;
  box-shadow: 0 4px 10px var(--shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform var(--transition-base);
  box-shadow: var(--shadow-big);
}

.catalog_item:hover {
  transform: translateY(-3px); /* Немного подъема при наведении */
}

/* ====== 13. Адаптивность (Media Queries) ====== */

@media (max-width: 1200px) {
  .slider-container {
    max-width: 100%;
    padding: 0 1rem;
  }
}

@media (max-width: 998px) {
  .footer-flex {
    justify-content: space-around;
    gap: 1rem;
  }
.flexUl {
  height: 100%;
}
  .footer-flex > div {
    min-width: auto; /* Позволить колонкам быть меньше */
    text-align: center; /* Центрировать текст в колонках */
  }

  .footer-flex ul {
    text-align: left; /* Списки внутри колонок - по левому краю */
    display: inline-block; /* Чтобы центрирование .footer-flex > div работало */
  }

  .footer-flex iframe {
    align-self: center; /* Центрировать карту */
    margin: 0 auto; /* Центрировать карту */
  }
}

@media (max-width: 992px) {
  .menu-bar_link {
    font-size: 18px;
  }

  .about-section {
    scroll-margin-top: 80px; /* Чтобы при якорном переходе всё было видно */
  }

  .about-text {
    padding: 2rem;
  }

  .about-text h1 {
    font-size: 2.5rem;
  }

  .about-text p {
    font-size: 1rem;
  }

  .slider-container {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    gap: 20px;
  }

  .slider-container-prim,
  .slider-thumbnails {
    width: 100%;
    flex: none; /* Убрать flex-grow/shrink */
    padding: 10px;
  }

  .slider-thumbnails {
    align-self: stretch; /* Растянуть на всю ширину контейнера */
  }

  .slider-item img {
    min-height: 250px;
    width: 100%;
    object-fit: cover;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  /* Корректировка отображения вкладок каталога на мобильных */
  .catalog_content {
    display: none; /* Проще использовать display */
  }

  .catalog_content_active {
    display: grid; /* Проще использовать display */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Минимальная ширина меньше */
    gap: 1rem; /* Меньше отступы */
  }

  .catalog_tabs {
    flex-wrap: wrap; /* Перенос вкладок при необходимости */
    justify-content: center;
    gap: 1rem;
  }

  .catalog_tab {
    font-size: 18px; /* Меньший размер шрифта */
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 0; /* Уменьшить паддинг */
    font-size: 18px; /* Уменьшить размер шрифта */
  }

  .menu-bar_link:after {
    height: 1px;
  }

  .menu-bar {
    column-gap: 1rem; /* Меньше отступы между ссылками */
  }

  .about-section {
    padding: 3rem 0;
    scroll-margin-top: 80px;
  }

  .about-text {
    padding: 2rem 1.5rem;
    margin-top: 1.5rem;
  }

  .about-text h1 {
    font-size: 2rem;
  }

  .about-text p {
    font-size: 0.95rem;
  }

  .news-cards {
    grid-template-columns: 1fr; /* Одна колонка */
    gap: 1rem;
  }

  .news-card {
    padding: 1.5rem;
  }

  .subscribe-form {
    gap: 0.8rem;
  }

  .subscribe-form input[type="email"] {
    padding: 0.7rem 1rem;
    font-size: 0.9rem;
  }

  .button,
  .load-more,
  .subscribe-form button,
  #ok {
    padding: 0.7rem 1.2rem;
    font-size: 0.9rem;
  }

  .catalog_content_active {
    grid-template-columns: 1fr; /* Одна колонка */
    gap: 1rem;
  }

  .catalog_item {
    padding: 1.2rem;
  }

  .catalog_item h3 {
    font-size: 1.1rem;
  }

  .catalog_item p {
    font-size: 0.9rem;
  }

  .footer-flex {
    flex-direction: column; /* Вертикальное расположение на маленьких экранах */
    align-items: center;
    text-align: center;
  }

  .footer-flex > div {
    width: 100%;
  }

  .footer-flex ul {
    display: block; /* Сброс inline-block для центрирования списка */
    margin: 0 auto; /* Центрирование списка */
  }


  .footer-flex iframe {
    width: 100%; /* Карта на всю ширину колонки */
    max-width: 400px; /* Максимальная ширина */
    height: 250px; /* Высота */
  }

  .pageUp {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    bottom: 15px;
    right: 15px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem 0.5rem; /* Еще меньше паддинг */
  }

  h1, h4 {
    font-size: 2.5rem; /* Уменьшить заголовки */
  }

  .about-text h1 {
    font-size: 1.8rem; /* Уменьшить заголовок в "О нас" */
  }

  .about-text {
    padding: 1.5rem 1rem; /* Еще меньше паддинг */
  }

  .menu-bar {
    column-gap: 0.8rem; /* Еще меньше отступы */
    font-size: 16px; /* Еще меньше размер шрифта */
  }

  .catalog_tabs {
    gap: 0.8rem;
    font-size: 16px;
  }

  .catalog_item {
    padding: 1rem;
  }

  .slider-thumbnails {
    padding: 1rem;
  }

  .slider-container-prim {
    padding: 0 0.5rem;
  }
}


 